.hamburger {
    border: 0px;
    padding: 0px;

    transition: transform .7s ease-in-out;

    background-color: transparent;

    position:absolute;
    left: -1%;
    top: -1%;
    scale: .5;
}

button img {
    border: 0px;
}

.burger-menu {
    background-color: rgb(60, 76, 33);
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0px;
    left: -30%;
    
    transition: left .7s ease-in-out;
}

.main-head {
    text-align: center;
    position:absolute;
    top: 25%;
    width: 100%;
}

.remove-margin {
    margin: 0;
}

.nonmenu{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    visibility:hidden;

    transition: background-color .7s ease-in-out, visibility .7s ease-out;
}

.profile {
    position: absolute;
    width: 60%;
    height: 64px;
    left: 35%;
    top: 2%;


    text-align: center;
}

.profile p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profButton{
    position: absolute;
    bottom: 10%;
    height: 5%;
    width: 80%;
    left: 10%;
}

.userButton{
    position: absolute;
    bottom: 3%;
    height: 5%;
    width: 80%;
    left: 10%;
}

.left10 {
    left:10%;
    position: absolute;
}


.upDownButton{
    border: 0px;
    border-radius: 45px;
    width: 90px;
    height: 90px;
}


table {
    border: 1px solid white;
    border-collapse: collapse;
    margin-bottom: 3%;
}

tr {
    margin-bottom: 3px;
}

td {
    border: 1px solid white;
    color: white;
    font-family: 'Corbel', sans-serif;
}


body {
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1, h2, h3, h4, h5, h6, p, button, input[type="button"], input[type="submit"] {
    color: white;
    font-family: 'Corbel', sans-serif;
}

button, input[type="button"], input[type="submit"] {
    background-color: dodgerblue;
    border-radius: 10%/50%;
    box-shadow: none;
}

button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled{
    background-color: rgb(139, 194, 248);
    border-radius: 10%/50%;
    box-shadow: none;
}


input[type="text"], select, option {
    font-family: 'Corbel', sans-serif;
}